<html>
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="wasm_exec.js"></script>     
        <script>
            const go = new Go();
            WebAssembly.instantiateStreaming(fetch("main.wasm"), go.importObject).then((result) => {
                go.run(result.instance);
            });
        </script>
    </head>
    <body>
      <div id="app">
        <textarea name="" v-model="input" cols="30" rows="10"></textarea>
        <textarea name="" v-model="data" cols="30" rows="10"></textarea>
        <br/>
        <button v-on:click="convert">渲染模板</button>
        <pre> {{result}} </pre>
      </div>
    </body>
    <script>
      new Vue({
        el: '#app',
        data: {
          result: '',
          data: '{"Flag": false}',
          input: '{{ if .Flag  }} 通过 {{else}}不通过{{end}} {{call .builtinfunc}}'
        },
        methods: {
          convert() {
            // template 方法来自于  WebAssembly 模块
            this.result = template(this.input,this.data)
          }
        },
      })
    </script>
</html>
